* {
  padding: 0;
  margin: 0;
}

/* Landing Page */

.landing-container {
  width: 1440px;
  height: 708px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/public/images/image-hero.jpg');
  background-size: 100% 100%;
}
main {
  background-color: rgb(25, 25, 25);
  min-width: 100%;
}
.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.nav {
  border-bottom: 1px solid rgb(48, 48, 48);
  padding-bottom: 25px;
}
.nav-container h1 {
  padding-right: 200px;
  color: white;
}
.nav-container h2 {
  padding-left: 100px;
}
.products-container {
  width: 359px;
  height: 346px;

  margin-right: 660px;
  padding-top: 150px;
}

.product-text {
  width: 398px;
  height: 346px;

  display: flex;

  align-items: center;

  position: relative;
}
.product-text h1 {
  font-family: 'Manrope', sans-serif;
  font-style: Bold;
  font-size: 3.5rem;
  line-height: 56px;
  padding-bottom: 24px;
  color: white;
}
.product-text h2 {
  font-family: 'Manrope', sans-serif;
  padding-bottom: 10px;
  font-size: 0.625rem;
  letter-spacing: 5.5px;
  line-height: 19px;
  color: rgb(140, 140, 140);
}
.product-text p {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 84px;
  color: rgb(140, 140, 140);
  padding-right: 20px;
}
.product-text button {
  width: 160px;
  height: 48px;
  color: white;
  background-color: rgb(216, 125, 74);
  font-weight: 700;
  border: none;
  font-family: 'Manrope', sans-serif;
}

.nav {
  width: 1109.83;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  padding: 25px;

  font-size: 16px;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-style: bold;

  color: white;
}
@media (max-width: 1440px) {
  .landing-container {
    width: 100%;
  }
}

/* Products bar */

.product-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.products {
  width: 350px;
  margin-top: 200px;
  height: 169px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  background-color: rgb(241, 241, 241);
  border-radius: 8px;
}
.products-text {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products-text h1 {
  padding-bottom: 10px;
}

.products h1 {
  font-size: 18px;
  font-weight: 700;
}
.products img {
  width: 150.95px;
  height: 160px;
  object-fit: cover;
  position: relative;
}

/* ZX9 Speaker */

.zx9-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.zx9-speaker {
  margin-top: 168px;
  width: 1110px;
  height: 593px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/public/images/home/desktop/pattern-circles.svg');
  background-color: rgb(216, 125, 74);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -15rem -9.125rem;
  border-radius: 8px;
}

.zx9-speaker img {
  width: 410.23px;
  height: 497px;
  object-fit: cover;
  margin-top: 95px;
  margin-right: 90px;
  margin-bottom: 0px;
}
.zx9-text {
  width: 368px;
  height: 497px;
  display: flex;
  flex-direction: column;
  left: 50px;
  justify-content: center;

  position: relative;
  font-family: 'Manrope', sans-serif;

  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}
.zx9-text button {
  width: 164px;
  height: 43px;
  background-color: #000000;
  color: white;
}
.zx9-text h1 {
  font-size: 56px;
  font-weight: 700;
  color: white;
  line-height: 58px;
  letter-spacing: 2px;
  padding-bottom: 24px;
}
.zx9-text p {
  padding-bottom: 40px;
  color: rgb(241, 213, 197);
}

/* ZX7 Speaker */

.zx7-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.zx7-speaker img {
  border-radius: 8px;
  width: 1110px;
  height: 320px;
  position: relative;
  z-index: -1;
  bottom: 80px;
}
.zx7-text {
  width: 204px;
  height: 118px;
  font-family: 'Manrope', sans-serif;
  position: relative;
  top: 160px;
  left: 100px;
}
.zx7-text h1 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  padding-bottom: 32px;
}
.zx7-text button {
  width: 160px;
  height: 48px;
  background-color: transparent;
  font-family: 'Manrope', sans-serif;
}

/* YX1 Speaker */

.yx1-containter {
  display: flex;
  justify-content: center;
}
.yx1-image {
  width: 540px;
  height: 320px;
  background-color: rebeccapurple;
}
.yx1-text {
  width: 540px;
  height: 320px;
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-left: 30px;
  background-color: rgb(241, 241, 241);
}
.yx1-text h1 {
  margin-left: 96px;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgb(25, 25, 25);
}
.yx1-text button {
  margin-top: 32px;
  width: 160px;
  height: 48px;
  margin-left: 96px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Manrope', sans-serif;
  color: rgb(25, 25, 25);
}

/* About */
.about-container {
  display: flex;
  justify-content: center;
  margin-top: 201px;
}
.about-text {
  width: 445px;
  height: 295px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-right: 125px;
  font-family: 'Manrope', sans-serif;
}
.about-text h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.43px;
}
.about-text span {
  color: #d87d4a;
}
.about-text p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  padding-top: 32px;
}
.about-image {
  width: 540px;
  height: 588px;
}

/* Footer */
footer {
  width: 100%;
  height: 365px;
  display: flex;
  justify-content: center;
  background-color: rgb(25, 25, 25);
  margin-top: 199px;
}
.footer-container {
  width: 1440px;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-nav::before {
  content: '';
  position: absolute;
  height: 0.25rem;
  width: 6.25rem;
  background-color: #d87d4a;
  top: 3590px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 1110px;
  height: 25px;
  align-items: center;
  padding-top: 75px;
}
.footer-nav a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  padding-left: 34px;
}
.footer-text {
  width: 540px;
  height: 100px;
  padding-top: 35px;
  font-family: 'Manrope', sans-serif;
  position: relative;
  right: 285px;
}
.footer-text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: rgb(122, 121, 122);
}
.footer-text h2 {
  margin-top: 56px;
  color: rgb(122, 121, 122);
  font-weight: 700;
  line-height: 25px;
  font-size: 15px;
}
.socials {
  position: relative;
  left: 980px;
  width: 120px;
  margin: 0;
}
.socials img {
  padding-left: 16px;
  margin: 0;
}
